footer{
    padding-top: 7.5rem ;
    padding-bottom: 7.5rem;
    background-color: #121212;
    text-align: center;
    color: #fff;

}

footer > .icons-container{
    display: flex;
    justify-content: space-evenly;    
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

footer > .icons-container > .icons-item{
    display: flex;
    align-items: center;
    justify-content: center;    

    background-color: #e63d3d;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    font-size: 1.5rem;

    cursor: pointer;
    transition:background-color 0.5s, height 0.5s, width 0.5s;
}
footer > .icons-container > .icons-item:hover{
    background-color: #c42f2f;
    height: 4.5rem;
    width: 4.5rem;
}